@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 style="font-size:300%">Welcome</h1>
    <h3><a href="http://localhost:49748/">This is my First Project</a>.</h3>





</div>
